ul{
  padding-left:0;
}
ul.points li{
  margin: 1.5rem;
  list-style-type: disc;
  line-height: 1.2;
}
button{
  color: #333;
  font-family: 'Lato', Arial, sans-serif;
  background: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 2px;
}
.smt-btn{
  background: #97797c;
  border: none;
  padding: 0.7rem;
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid #97797c !important;
}
.smt-btn:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
ul{
  list-style-type: none;
}
.container{
  max-width: 950px;
  margin: auto;
  width: 100%;
}
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background: #f7f7f7;

}
nav{
  color: #333;
  padding: 1rem 0 0.5rem;
}
.nav{
  display: flex;
  justify-content: space-between;

}
#nav-collapse{
  display: none;
}
#inner-nav-collapse{
  display: none;
}
.logo{
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  font-family: 'Vollkorn', sans-serif;
  font-weight: 400;
  margin-left: 1rem;
}
.logo a{
  color: #333;
  text-decoration: none;
}
nav ul{
  display: flex;

}
nav li{
  margin: 0 1rem;
  cursor: pointer;
}
nav li a{
  text-decoration: none;
  color: #333;
}
.quote{
  display: none;
  color: #333;
  text-align: center;
  font-size: 2.3rem;
  font-family: 'Libre Baskerville', serif;
  margin: 1rem 0;
  border-bottom: 4px solid #777;
}
.quote span{
  font-size: 5rem;
  margin-right: 1rem;
}
.main-grid{
  margin: .5rem 0 3rem;
  display: flex;
  flex-wrap: wrap;

}

.card{
  cursor: pointer;
  font-size: 9pt;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  color: #fff;
  background-color: #939985;
  flex: 1 1 33.33%;
  box-sizing: border-box;
  /* margin: 0.5rem; */
  padding: 1.5rem;
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23); */
  position: relative;
  min-height: 20rem;
}

.card.about{
  font-size: 8.5pt;
}

.card:hover{
  background-color:#898f7d;
}
.card:nth-child(odd){
  background-color:#9da68f
}
.card:nth-child(odd):hover{
  background-color:#7d8374;
}

.card.profile{
  flex: 1 1 27%;
  padding: 0;
  position: relative;
}
.card.profile img{
  width: 299px;
  height: 283px;
  object-fit: cover;
  opacity: .3;

}
.card.profile img:hover{
  opacity: 1;
  transition: opacity 0.3s;
}
.card.profile button{
  border-radius: 0;
  position: absolute;
  bottom: 2rem;
  left: 30%;
  padding: 0.5rem 1rem !important;
  width: 12rem;
  height: 2rem;
  font-size: 1rem;
}
.card h3{
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  text-align: end;
  font-size: 10pt;
}
.card button{
  cursor: pointer;
  padding: 0.5rem 2rem;
}
/* Inner Nav */
.inner-nav{
  display: flex;
  justify-content: space-between;
  background: #939985;


}
.inner-nav-avatar img{
  height: 100%;
}
.inner-nav-links{
  text-align: right;
  color: #fff;
  margin-right: 2rem;
}
.inner-nav-links a{
  color: #fff;
  text-decoration: none;
}
.inner-nav.condensed ul{
  display: flex;
  margin: 0;
  font-size: 0.75rem;
  justify-content: space-around;
  width: 100%;
  transition: all 0.1s ease-in;
  

}
.inner-nav.condensed li{
  padding: 0.7rem 0.6rem;
  box-sizing: border-box;
  cursor: pointer;
}
.inner-nav.condensed li:hover{
  background-color: #898f7d;
}
.inner-nav.condensed .inner-nav-avatar{
  display: none;

}
.header-banner{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #7c8967;
  color: #fff;
  font-size: 0.7rem;
  padding: 0;
  box-sizing: border-box;
  text-align: right;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.header-banner h1{
  margin: 0;
  padding: 1.5rem 2rem;
}
.header-banner img{
  height: 150px;
}
/* Tabs */
.tab-head{
  display: flex;
  cursor: pointer;
  

}
.tab-head h3{
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem ;
  border-bottom: 1px solid #7F6668;
  margin-bottom: 0;
}
.tab-head h3.active {
  
  border: 1px  solid #777;
  border-top: 2px solid #7c8967;
  border-bottom: none;
  
}
.tab-body{

  padding:0 0.5rem;
  font-size: 0.85rem;
}
.tabpara{
  display: none;
}
.tabpara.active{
  display: block;
}
.tab-container{
  /* margin: 2rem 0; */
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 3rem;
  text-align: justify;
  line-height: 1.6;
  color: #555;
}
/* .tab-container.about{
  margin: 2rem 0;
} */
/* Contact Form */
.contact-grid{
  display: flex;
  margin: 2rem 0;
}
.contact{
  background: #fff;
  padding: 1rem;
  flex: 1 1 60%;
  box-sizing: border-box;
  margin: 0 1rem 0 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contact-head h3{
  text-transform: uppercase;
}
.contact-body form{
  display: flex;
  flex-direction: column;
}
.contact-body form label{
  display: none;
}
.contact-body form input,textarea{
  border: none;
  border-bottom: 1.5px solid #939985;
  padding: 0.5rem;
  margin-bottom: 1rem;
  outline: none;
}
.contact-location{
  box-sizing: border-box;
  background: #fff;
  padding: 2rem;
  flex: 1 1 40%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.contact-location h4 i, p i{
  margin-right: 0.5rem;
  color: #7c8967;
}
.contact-location p{
  font-size: 0.8rem;
  margin-left: 1.5rem;
}
.contact-location h4{
  color: #333;
  text-transform: uppercase;
}
/* Accordion */
.accordion{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  /* margin: 2rem 0; */
}
.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #555;
  font-size: .9rem;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #7c8967;
}

.accordion a:hover::after {
  /* border: 1px solid #03b5d2; */
}

.accordion a.active {
  /* color: #03b5d2;
  border-bottom: 1px solid #03b5d2; */
}

.accordion a::after {
  font-family: 'FontAwesome';
  content: '\f0fe';
  position: absolute;
  float: right;
  right: 2rem;
  font-size: 1rem;
  color: #7c8967;
  padding: 5px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /* border-radius: 50%;
  border: 1px solid #7288a2; */
  text-align: center;
}

.accordion a.active::after {
  font-family: 'FontAwesome';
  content: '\f0fe';
  /* color: #03b5d2;
  border: 1px solid #03b5d2; */
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem 2.5rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
.accordion .content.links p{
  font-size: 0.85rem;
  text-align: justify;
}
.accordion .content.links a{
  text-transform: lowercase;
  color: #4169e1;
}
.accordion .content.links a:hover{
  color: #323f66;
}
.accordion .content.links a::after{
  display: none;
}
.descmini{
  font-size: .7rem;
  font-style: italic;
}
.link-head{
  text-transform: uppercase;
  text-decoration: underline;
}
/*Video Page*/
.video-grid{
  display: flex;
  flex-wrap: wrap;
  margin: 2rem 0;
}
.video-card{
  background: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 0 0.5rem 1rem;
}
.video-card h6{
  padding: 0.7rem;
  margin: 0;
  text-transform: uppercase;
}
.warning-content{
  color:#999;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.warning-content h1{
    font-weight:100;
    font-size:27pt;
    /* color:#898f7d; */
}
/* .warning-content p{
  align-items: center;
} */
@media screen and (max-width: 480px){
  p{
    font-size: 0.8rem;
  }
  .container{
    width: 95%;
  }
  nav{
    background: #fff;
    padding-bottom: 0.5rem;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }
  .nav{
    flex-wrap: wrap;
    
  }
  #nav-collapse{
    font-size: 1.5rem;
    display: block;
  }
  #inner-nav-collapse{
    display: block;
  }
  nav ul{
   width: 100%;
   flex-direction: column;
   display: none;
   text-transform: uppercase;
   border-top: 1px solid #d7d7d7;
    padding-top: 0.5rem;
  }
  nav ul li{
    border-bottom: 1px solid #777;
    padding: 0.4rem;
  }
  .inner-nav.condensed ul{
    display: none;
    flex-direction: column;
    text-transform: uppercase;
  }
  .inner-nav{
    flex-wrap: wrap;
  }
  .header-banner{
    margin-top: 4rem;
  }
  .header-banner h1{
    font-size: 1rem;
    /* padding: 1rem 0.5rem; */
    font-weight: 400;
  }
  #inner-nav-collapse{
    color: #fff;
    width: 100%;
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    text-align: right;
  }
  .main-grid{
    flex-direction: column;
  }
  .accordion a{
    padding: 1rem;
    font-size: 0.75rem;
  }
  .accordion a::after{
    right: 1rem;
  }
  .accordion .content.active{
    padding: 1rem;
  }
  .accordion .content.links a{
    padding: 0.5rem;

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  }
  .video-grid{
    flex-direction: column;
  }
  .tab-container{
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .tab-head h3{
    font-size: 0.7rem;
  }
  .contact-grid{
    flex-direction: column-reverse;
    margin: 0;
  }
  .contact-location{
    margin: 1rem;
  }
  .contact{
    margin: 1rem;
  }
}