<div class="inner-nav condensed container">
    <div class="inner-nav-avatar">
        <img src="images/profile.jpg" alt="">
    </div>
    <div id="inner-nav-collapse">&#9660;</div>
    <ul class="inner-nav-links hidemb">
        <li><a href="{{site.url}}/construction">Children</a></li>
        <li><a href="https://reimaginingschools.wordpress.com/">Reimagning Schools</a></li>
        <li><a href="http://rethinkingfoundation.weebly.com/">Design Foundation</a></li>
        <li><a href="http://www.re-cognition.org">Re-Cogntion</a></li>
        <li><a href="http://existentialknowledgefoundation.org/">E.K.F.</a></li>
        <li><a href="http://thanima.co.in/">Thanima</a></li>
        <li><a href="http://www.re-cognition.org/crafts/index.html">Traditional Crafts</a></li>
        <li><a href="{{site.url}}/construction">Being Academy</a></li>
        <li><a href="https://awakeningaestheticawareness.wordpress.com/">Being in Beauty</a></li>   
    </ul>
</div>