<div class="inner-nav condensed container">
    <div class="inner-nav-avatar">
        <img src="images/profile.jpg" alt="">
    </div>
    <div id="inner-nav-collapse">&#9660;</div>
    <ul class="inner-nav-links">
        <li><a href="{{site.url}}/construction">Children</a></li>
        <li><a href="{{site.url}}/construction">Re-Cogntion</a></li>
        <li><a href="{{site.url}}/construction">Being in Beauty</a></li>
        <li><a href="{{site.url}}/construction">Design Foundation</a></li>
        <li><a href="{{site.url}}/construction">Being Academy</a></li>
        <li><a href="{{site.url}}/construction">Traditional Crafts</a></li>
        <li><a href="{{site.url}}/construction">Reimagning Schools</a></li>
        <li><a href="{{site.url}}/construction">Existential Knowledge Foundation</a></li>
    </ul>
</div>