<nav>
    <div class="container nav">
        <div class="logo"><a href="{{site.url}}">Jinan KB</a></div>
        <ul>
            <li><a href="{{site.url}}">Home</a></li>
            <li><a href="{{site.url}}/about">About</a></li>
            <li><a href="{{site.url}}/concerns">Concerns</a></li>
            <li><a href="{{site.url}}/works">Works</a></li>
            <li><a href="{{site.url}}/videos">Videos</a></li>
            <li><a href="{{site.url}}/links">Resources</a></li>
            <li><a href="{{site.url}}/contact">Contact</a></li>
        </ul>
    </div>
</nav>